@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

	background: #999; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEEEE', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEEEE), to(#ffffff)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #EDEEEE,  #ffffff); /* for firefox 3.6+ */
}

.banner {
	background-image:url(images/banner.png);
	width:1000px;
	height:169px;
	background-repeat:no-repeat;
}

.dottedline {
	background-image:url(images/dot_line1.gif); background-repeat:repeat-x; background-position:center;
}

.content_holder {
	padding:15px;
}

.page_heading {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	text-transform:uppercase;
	border-bottom:1px solid #333333;
	font-weight:bold;
}

.comments1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-transform:uppercase;
	font-weight:bold;
	height:15px;
}

.comments2 {
	border-bottom:1px dashed #333333;
	font-weight:bold;
}


.red_heading {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#F92242;
	text-transform:uppercase;
	border-bottom:1px solid #F92242;
	font-weight:bold;
}

.form_label_right {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:right;
	color:#333333;
	padding-right:5px;
}

.form_label_left {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:left;
	color:#333333;
	padding-right:5px;
}

.approve_button {
border:none;
margin-right: 1em;
padding: 6px;
text-decoratoin: none;
font-size: 12px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background: #336699;
color: white;
box-shadow: 0px 0px 0px white;
-moz-box-shadow: 0px 0px 0px white;
-webkit-box-shadow: 0px 0px 0px white;
}

.delete_button {
border:none;
margin-right: 1em;
padding: 6px;
text-decoratoin: none;
font-size: 12px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background: #E51717;
color: white;
box-shadow: 0px 0px 0px white;
-moz-box-shadow: 0px 0px 0px white;
-webkit-box-shadow: 0px 0px 0px white;
}
.approve_button:hover {
	background: #3366CC;
	cursor: pointer;
}
.delete_button:hover {
	background: #E77474;
	cursor: pointer;
}
.button
{	border:none;
	margin-right: 1em;
	margin-left: 1em;
	padding: 6px;
	text-decoratoin: none;

	display: block;
	font-size: 14px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: lightblue;
	color:black}
.error {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}
input[type=text], input[type=password], textarea {
border: 1px solid #CCCCCC;
margin-right: 1em;
padding: 4px;
text-decoratoin: none;
font-size: 12px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background: #FFFFFF;
color: black;
box-shadow: 0 0px 0 white;
-moz-box-shadow: 0 0px 0 white;
-webkit-box-shadow: 0 0px 0 white;
}

input[type=button] {
border:none;
margin-right: 1em;
padding: 6px;
text-decoratoin: none;
font-size: 12px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background: #4689CD;
color: white;
box-shadow: 0 1px 0 white;
-moz-box-shadow: 0 1px 0 white;
-webkit-box-shadow: 0 1px 0 white;
}

input[type=button]:hover {
	background: #87B3E0;
	cursor: pointer;
}

input[type=reset] {
border:none;
margin-right: 1em;
padding: 6px;
text-decoratoin: none;
font-size: 12px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background: #4689CD;
color: white;
box-shadow: 0 1px 0 white;
-moz-box-shadow: 0 1px 0 white;
-webkit-box-shadow: 0 1px 0 white;
}

.auth_link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#000000;
}

.auth_link:hover {
	text-decoration:underline;
	color:#6633CC;
}

.required {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FF0000;
}

.errorRow {
	border: 1px solid #DD3C10;
	background-color:#FFEBE8;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
}

.boxesGradBg {
	background: #999; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EDEEEE'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#EDEEEE)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #EDEEEE); /* for firefox 3.6+ */
}

.box_style {
	border: 1px solid #CCCCCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px #CCCCCC;
	-webkit-box-shadow: 1px 1px 1px #CCCCCC;
}

.box_padding {
	padding:10px;
}

.box_grdbg {
	background: #999; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEEEE', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEEEE), to(#ffffff)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #EDEEEE,  #ffffff); /* for firefox 3.6+ */
}

.pageTitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:35px;
	color:#0099CC;
	text-transform:uppercase;
	font-weight:bold;
}

.user_logged {
	font-family:Verdana,Helvetica,Arial,sans-serif;
	font-size:13px;
	color:#FFFFFF;
	padding:10px;
	font-weight:bold;
}
 div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;

	text-decoration: none; /* no underline */
	color: #000099;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000099;

	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 1px solid #000099;

		font-weight: bold;
		background-color: #000099;
		color: #FFF;
	}
	div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;

		color: #DDD;
	}

